/build/
/app/build/
/.gradle/
.gradle-dist/
/local.properties
/.idea/
.DS_Store
*.iml
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper-shared.jar
gradle/wrapper/gradle-*-bin.zip
gradle/wrapper/gradle-*/
